@media only screen and (max-width:700px)  {


    body{
        margin: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        background-color: blueviolet;

    }
    #calculator{
        font-family: Arial,sans-serif;
        background-color: darkslategrey;
        border-radius: 15px;
        width: 300px;
        height: 510px;
        overflow: inherit;
        #display{
            width: 260px;
            padding: 20px;
            font-size: 3rem;
            text-align: left;
            border:none;
            background-color: gray;
            color: white;
        }
        #keys{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 10px;
            padding:10px;



            button{
                width: 60px;
                height: 60px;
                border-radius: 30px;
                border: none;
                background-color: darkgrey;
                color: white;
                font-size: 2rem;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    background-color:dimgray;
                }
                &:active{
                    background-color: rebeccapurple;
                }


            }
            .operator-btn{
                background-color: aqua;
                &:hover{
                    background-color: aquamarine;
                }
                &:active{
                    background-color: blueviolet;
                }

            }
        }
    }




}