

body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;

}
#calculator{
  font-family: Arial,sans-serif;
  background-color: darkslategrey;
  border-radius: 15px;
  width: 200px;
  height: 290px;
  overflow: hidden;
  margin-top: 50px;
#display{
  width: 100%;
  height: 25px;
  padding: 7px;
  font-size: 1.5rem;
  text-align: left;
  border:none;
  background-color: gray;
  color: white;
}
#keys{
  margin: 12px;



button{
  width: 40px;
  height:40px;
  border-radius: 20px;
  border: none;
  background-color: darkgrey;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  &:hover{
    background-color:dimgray;
  }
  &:active{
    background-color: rebeccapurple;
  }


}
  .operator-btn{
    background-color: aqua;
    &:hover{
      background-color: aquamarine;
    }
    &:active{
      background-color: blueviolet;
    }

  }
}
}

